#user-form-page {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.user-form-header {
  display: flex;
  justify-content: start;
  flex-direction: row;
  height: 25%;
  width: 100%;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.column {
  flex-basis: 45%;
}

.input-text,
.input-select,
.input-date {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.link {
  text-decoration: none;
  color: #fff;
}

button {
  border-radius: 4px;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 36px;
}

#cancel,
#confirm {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#cancel {
  background-color: #ed8975;
}

#cancel:hover {
  background-color: #b86656;
}

#confirm {
  background-color: #8fb9aa;
  color: #fff;
}

#confirm:hover {
  background-color: #68897e;
}
