:root{
  --principal-text: #fff;
  --card-background-color: #fff;
  --active-color: #8FB9AA;
  --inactive-color: #ED8975;
}

.card {
  background-color: var(--card-background-color);
  width: 200px;
  height: 280px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
}

#avatar {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

#name {
  color: black;
  font-weight: 700;
}

#state {
  width: 70%;
  height: 12%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--principal-text);
}

.state-active {
  background-color: var(--active-color);
}

.state-inactive {
  background-color: var(--inactive-color);
}