.filters {
  justify-content: center;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.filter {
  display: flex;
  flex-direction: column;
  min-width: 120px;
  max-height: 200px;
}

.rounded-input {
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  padding: 10px;
  border: 0;
}

.btn {
  background-color: #304d63;
  border-radius: 4px;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn:hover {
  background-color: #213545;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search img {
  height: 24px;
}
